{% extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto">
            <p>
                {{ target_user.date_joined }}
            </p>
            <h2 style="font-family: 'NanumSquareB'">
                {{ target_user.username }}
            </h2>

            {% if target_user == user %}
            <div>
                <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                    <span>수정|</span></a>
                <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                    <span>삭제</span></a>
            </div>
            {% endif %}
        </div>
   </div>

{% endblock %}
