{% extends 'base.html' %}

{% block content %}
    <style>
        .test_css {
            background-color: white;
            height: 3rem;
            width: 10rem;
            margin: 1rem;
        }
    </style>
    <div class="body_background">
        <h1 class="titles">
            할렐루야(Hallelujah)!!
        </h1>

        <div class="test_css" style="display: block;">display-block1</div>
        <div class="test_css" style="display: block;">display-block2</div>
        <div class="test_css" style="visibility: hidden;">visibility-hidden</div>
        <div class="test_css" style="display: inline-block;">display-inline-block</div>
        <div class="test_css" style="display: inline;">display-inline1</div>
        <div class="test_css" style="display: inline;">display-inline2</div>
        <div class="test_css" style="display: none;">display-none</div>
        <div class="test_css">default</div>
    </div>

{% endblock %}
