<div class="align_center">
    <div>
        <h1 class="titles">주여정보(JuyeoInfo)</h1>
    </div>
    <div>
        <span>차례1</span>|
        <span>차례2</span>|
        <span>차례3</span>||
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ requst.path }}">
            <span>로그인|</span></a>
        <a href="{% url 'accountapp:create' %}">
            <span>회원가입</span></a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" >
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ requst.path }}">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>